<div class="container-fluid">
<div class="row-fluid">
  <div class="span4">
    <div id="task_status_chart"></div>

    <table class="table table-bordered table-striped table-condensed">
      <tr><th>最近追加されたタスク</th></tr>
      <% @add_tasks.each do |t| %>
      <tr>
        <td><span class="label label-info"><%= t.created_at.strftime("%m-%d") %></span> <%= t.msg %></td>
      </tr>
      <% end %>
    </table>
    <table class="table table-bordered table-striped table-condensed">
      <tr><th>最近変更されたタスク</th></tr>
      <% @edit_tasks.each do |t| %>
      <tr>
        <td><span class="label label-info"><%= t.created_at.strftime("%m-%d") %></span> <%= t.msg %></td>
      </tr>
      <% end %>
    </table>
    <table class="table table-bordered table-striped table-condensed">
      <tr><th>最近完了したタスク</th></tr>
      <% @done_tasks.each do |t| %>
      <tr>
        <td><span class="label label-info"><%= t.created_at.strftime("%m-%d") %></span> <%= t.msg %></td>
      </tr>
      <% end %>
    </table>
  </div>

  <div class="span4">
    <div id="done_chart"></div>

    <table class="table table-bordered table-striped table-condensed">
      <tr><th>実行中のタスク</th></tr>
      <% @doing_tasks.each do |t| %>
      <tr>
        <td><span class="label label-info"><%= t.created_at.strftime("%m-%d") %></span> <%= t.msg %></td>
      </tr>
      <% end %>
    </table>

    <table class="table table-bordered table-striped table-condensed">
      <tr><th>本日変更したタスク</th></tr>
      <% @today_tasks.each do |t| %>
      <tr>
        <td><span class="label label-info"><%= t.created_at.strftime("%m-%d") %></span> <%= t.msg %></td>
      </tr>
      <% end %>
    </table>
  </div>
 
 
  <div class="span4">
    <div id="book_count_chart"></div>

    <table class="table table-bordered table-striped table-condensed">
      <tr><th>Books</th></tr>
      <% @books.each do |b| %>
      <tr>
        <td><%= b['name'] %></td>
        <td class="todo_h"><%= b[:todo_h] %></td>
        <td class="todo"><%= b[:todo_m] %></td>
        <td class="todo_l"><%= b[:todo_h] %></td>
        <td class="doing"><%= b[:doing] %></td>
        <td class="waiting"><%= b[:waiting] %></td>
        <td class="done"><%= b[:done] %></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
</div>

<script>
$(document).ready(function() { 
    var chart_task = new Highcharts.Chart({
        chart: {
            renderTo: 'task_status_chart',
            type: 'pie'
        },
        title: {
            text: 'Task Status'
        },
        series: [
        { name: 'tasks', 
          data: [
            { name: 'high', y: <%= @task_counts[:todo_h] %> },
            { name: 'middle', y: <%= @task_counts[:todo_m] %> },
            { name: 'low', y: <%= @task_counts[:todo_h] %> },
            { name: 'doing', y: <%= @task_counts[:doing] %> },
            { name: 'waiting', y: <%= @task_counts[:waiting] %> },
          ],
        }]
    });

    var chart_done = new Highcharts.Chart({
        chart: {
            renderTo: 'done_chart',
            type: 'column'
        },
        title: {
            text: 'Done Tasks'
        },
        xAxis: {
          categories: [
          <% @month_done_list.each do |m| %>
            '<%= m[:date].strftime("%m") %>',
          <% end %>
          ]
        },
        series: [
        { name: 'Done', 
          data: [
          <% @month_done_list.each do |m| %>
            { name: 'done', y: <%= m[:count] %> },
          <% end %>
          ],
        }]
    });

    var chart1 = new Highcharts.Chart({
        chart: {
            renderTo: 'book_count_chart',
            type: 'pie'
        },
        title: {
            text: 'Active Book tasks'
        },
        series: [
        { name: 'tasks', 
          data: [
          <% @books.each do |b| %>
            { name: '<%= b['name'] %>', y: <%= b['active_task'] %> },
          <% end %>
          ],
        }]
    });
});
</script>
