<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12"></div>
    <%= devise_error_messages! %>
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => "form-horizontal"}) do |f| %>
      <fieldset>
        <legend>Sign up</legend>
        <div class="control-group">
          <%= f.label :name, :class => "control-label" %>
          <div class="controls">
            <%= f.text_field :name %>
          </div>
        </div>
 
        <div class="control-group">
          <%= f.label :email, :class => "control-label" %>
          <div class="controls">
            <%= f.email_field :email %>
          </div>
        </div>
 
        <div class="control-group">
          <%= f.label :password, :class => "control-label" %>
          <div class="controls">
            <%= f.password_field :password %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :password_confirmation, :class => "control-label" %>
          <div class="controls">
            <%= f.password_field :password_confirmation %>
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <%= f.submit "Sign in", :class => "btn btn-primary" %>
          </div>
        </div>
      </fieldset>
    <% end %>
    </div>
  </div>
</div>

