<li id="id_<%= t.id %>">
  <a href="#setting_<%= t.id %>" id="edit_task_link_<%= t.id %>" data-transition="slidefade">
    <table><tr>
        <td><span class="label label-info" id="updated_<%= t.id %>" style="display:inline;"><%= t.updated_at.strftime("%m/%d") %></span></td>
        <td><span id="msg_<%= t.id %>"></span></td>
    </tr></table>
  </a>
</li>

<script>
(function(){
  var taskAction = KanbanList.taskAction;
  var msg_array = <%= to_js_array(t.msg) %>;
  taskAction.initial(<%= t.id %>, "<%= t.status_sym %>", msg_array);
}());
</script>


 
