<li id="id_<%= t.id %>">
  <a href="#setting_<%= t.id %>" id="edit_task_link_<%= t.id %>">
    <p><span class="label label-info" id="updated_<%= t.id %>" style="display:inline;"><%= t.updated_at.strftime("%m/%d") %></span> <span id="msg_<%= t.id %>"><%= raw t.msg %></span></p>
  </a>
</li>
<script>
  $('#edit_task_link_<%= t.id %>').click(function(){
    $('#edit_msg_<%= t.id %>').val($('#msg_<%= t.id %>').html());
  });
</script>


 
