<div class="row-fluid">
  <div class="span2"></div>
  <div class="span10">
    <form method="post" class="form-inline" onsubmit="addTodoWithPrefix($('#prefix').get(0).value , $('#add_todo_form_msg').get(0).value);$('#add_todo_form_msg').get(0).value='';return false;">
      <input type="text" id="prefix" class="span1" name="prefix" value="" placeholder="Prefix"/>
      <input type="text" id="add_todo_form_msg" class="span5" value="" placeholder="Task"/>
      <input type="submit" value="Add" class="btn" />
    </form>
  </div>
</div>

<div class="row-fluid">
  <div class="span4">
    <div class="memitem">
      <div class="memproto">
        <div class="memname_todo_high"><center>Todo</center></div>
      </div>
      <div class="memproto_todo_m">
        <div class="memname_todo_m"><center>High</center></div>
      </div>
      <div class="memdoc_todo_h">
        <ul id="todo_h" class="droptrue">
        <% @tasks[:todo_high_tasks].each do |task| %>
          <%= render "task", {:task => task, :display => "block" } %>
        <% end %>
        </ul>
      </div>
      <div class="memproto_todo_m">
        <div class="memname_todo_m"><center>Middle</center></div>
      </div>
      <div class="memdoc_todo_h">
        <ul id="todo_m" class="droptrue">
        <% @tasks[:todo_mid_tasks].each do |task| %>
          <%= render "task", {:task => task, :display => "block" } %>
        <% end %>
        </ul>
      </div>
      <div class="memproto_todo_m">
        <div class="memname_todo_m"><center>Low</center></div>
      </div>
      <div class="memdoc_todo_l">
        <ul id="todo_l" class="droptrue">
        <% @tasks[:todo_low_tasks].each do |task| %>
          <%= render "task", {:task => task, :display => "block" } %>
        <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div class="span4">
    <div class="memitem">
      <div class="memproto">
        <div class="memname_doing"><center>Doing</center></div>
      </div>
      <div class="memdoc_doing">
        <ul id="doing" class="droptrue">
        <% @tasks[:doing_tasks].each do |task| %>
          <%= render "task", {:task => task, :display => "block" } %>
        <% end %>
        </ul>
      </div>
    </div>

    <div class="memitem">
      <div class="memproto">
        <div class="memname_waiting"><center>Waiting</center></div>
      </div>
      <div class="memdoc_waiting">
        <ul id="waiting" class="droptrue">
        <% @tasks[:waiting_tasks].each do |task| %>
          <%= render "task", {:task => task, :display => "block" } %>
        <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div class="span4">
    <div class="memitem">
      <div class="memproto">
        <div class="memname_done"><center>Done - Recent <%= @recent_done_num %> - </center></div>
      </div>
      <div class="memdoc_done">
        <ul id="done" class="droptrue">
        <% @tasks[:done_tasks].each do |task| %>
          <%= render "task", {:task => task, :display => "block", :done => true } %>
        <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

