<% done ||= false %>
<li id="id_<%= task.id %>" class="task_elem" style="display:<%= display %>">
<div class="sorttime" alt="<%= task.updated_at %>" id="ms_notyet_<%= task.id %>">
    <div class="citem_editable">
      <div id="edit_link_ms_<%= task.id %>" style="display:<%= done == false ? "block" : "none" %>">
        <table cellpadding=0 cellpadding=0 hspace=0 vspace=0 width="100%"><tr><td align="left" width="10px">
          <input type="checkbox" onclick="moveToDone('#id_<%= task.id %>');return false;"/>
        </td><td class="taskLabel" align="left" width="10px">
          <font color="#00008B" style="font-size:10px;font-weight:normal;" ><div id="edit_link_time_<%= task.id %>" style="display:inline;">[<%= task.updated_at.strftime("%m/%d") %>]</div></font>&nbsp;
        </td><td class="taskLabel" align="left">
          <div id="msg_<%= task.id %>" style="display:inline;"><%= task.msg %></div>&nbsp;
        </td><td align="right" width="40px">
        <div id="ms_<%= task.id %>_menu" style="display:inline;">
          <span class="s12">
            <input type="image" src="<%= image_path 'pencil.gif' %>" OnMouseOver="$(this).get(0).src = '<%= image_path 'pencil_over.gif' %>'" OnMouseOut="$(this).get(0).src = '<%= image_path 'pencil.gif' %>'" onclick="$('#id_<%= task.id %>').parent().sortable('destroy');$('#ms_<%= task.id %>_edit').text($('#msg_<%= task.id %>').html());toggleDisplay('edit_link_ms_<%= task.id %>','edit_form_ms_<%= task.id %>');$('#ms_<%= task.id %>_edit').get(0).focus();return false;"/>
            <input type="image" src="<%= image_path 'cross.gif' %>" OnMouseOver="$(this).get(0).src = '<%= image_path 'cross_over.gif' %>'" OnMouseOut="$(this).get(0).src = '<%= image_path 'cross.gif' %>'" onclick="deleteTodo('#id_<%= task.id %>');return false;"/>
          </span>
        </div>
        </td></tr></table>
      </div>
      <div id="edit_form_ms_<%= task.id %>" style="display:none">
        <form method="post" style="display:inline" onsubmit="$('#id_<%= task.id %>').parent().sortable(option);updateToDoMsg('#ms_<%= task.id %>_edit', '#msg_<%= task.id %>');toggleDisplay('edit_form_ms_<%= task.id %>','edit_link_ms_<%= task.id %>');return false;">
          <textarea id="ms_<%= task.id %>_edit" name="ttl" cols=80 rows=4 style="font-weight:normal;padding:2px;overflow:auto" onfocus="this.style.background='#ffc';"/></textarea>
          <input type="submit" value="Update" style="font-size:10px" />
          <span class="s12">
            <a href="#" onclick="$('#id_<%= task.id %>').parent().sortable(option);toggleDisplay('edit_form_ms_<%= task.id %>','edit_link_ms_<%= task.id %>');return false;">[cancel]</a>
          </span>
        </form>
      </div>
      <div id="fixed_<%= task.id %>" style="display:<%= done == false ? "none" : "block" %>">
        <table width="100%"><tr><td align="left" width="10px">
              <input type="checkbox" checked="checked" onclick="returnToTodo('#id_<%= task.id %>');return false;"/>
        </td><td align="left" width="10px">
              <font color="#00008B" style="font-size:10px;font-weight:normal;"><div id="fixed_time_<%= task.id %>" style="display:inline;">[<%= task.updated_at.strftime("%m/%d") %>]</div></font>&nbsp;
        </td><td class="taskLabel" align="left">
              <div id="fixed_msg_<%= task.id %>" style="display:inline;"><%= task.msg %></div>
        </td><td align="right" width="40px">
        <input type="image" src="<%= image_path 'cross.gif' %>" OnMouseOver="$(this).get(0).src = '<%= image_path 'cross_over.gif' %>'" OnMouseOut="$(this).get(0).src = '<%= image_path 'cross.gif' %>'" onclick="deleteTodo('#id_<%= task.id %>');return false;"/>
        </td></tr></table>
      </div>
    </div>
  </div>
</li>

