<div class="donenote">
<div class="row-fluid">
  <div class="span2">
  <ul class="nav nav-list">
    <% while @from_month <= @to_month do %>
      <li><%= link_to @to_month.strftime("%Y-%m"), :year => @to_month.year ,:month => @to_month.mon  %></li>
      <% @to_month -= 1.month %>
    <% end %>
  </ul>
  </div>

  <div class="span10">
    <ul class="note">
      <%# TODO ここはロジック多すぎる。UIが固まったらロジックを controller や model に移動するべき。 %>
    <% latest_day = nil %>
    <% @tasks.each do |task| %>
      <% current_day = task.updated_at.strftime("%Y-%m-%d") %>
      <% if latest_day == nil %>
        <% latest_day = current_day %>
        <li><span class="label label-info"><%= current_day %></span></li><ul>
      <% elsif latest_day != current_day %>
        <% latest_day = current_day %>
        </ul><li><span class="label label-info"><%= current_day %></span></li><ul>
      <% end %>
      <li><span class="done_time"><%= task.updated_at.strftime("%2H:%2S ") %></span> <%= task.msg %></li>
    <% end %>
    </ul>
  </div>
</div>
</div>

<%= will_paginate(@tasks) %>

