<div class="donenote">
<div class="row-fluid">
  <div class="span2">
  <ul class="nav nav-list">
    <% @month_list.each do |l| %>
      <li><%= link_to "#{l[:date].strftime("%Y-%m")} (#{l[:count]})" , :year => l[:date].year ,:month => l[:date].mon  %></li>
    <% end %>
  </ul>
  </div>

  <div class="span10">
    <ul class="note">
      <%# TODO ここはロジック多すぎる。UIが固まったらロジックを controller や model に移動するべき。 %>
    <% latest_day = nil %>
    <% @tasks.each do |task| %>
      <% current_day = task.updated_at.strftime("%Y-%m-%d") %>
      <% if latest_day == nil %>
        <% latest_day = current_day %>
        <li><span class="label label-info"><%= current_day %></span></li><ul>
      <% elsif latest_day != current_day %>
        <% latest_day = current_day %>
        </ul><li><span class="label label-info"><%= current_day %></span></li><ul>
      <% end %>
      <li><span class="done_time"><%= task.updated_at.strftime("%2H:%2S ") %></span> <%= raw task.msg %></li>
    <% end %>
    </ul>
  </div>
</div>
</div>

<%= will_paginate(@tasks) %>

