<center>
<%= link_to "リストへ", tasks_path %>
</center>

<div class="donenote">
<table>
  <tr><td valign="top">
  </td><td width="100%">
    <ul class="note">
    <% latest_mon = nil %>
    <% @tasks.each do |task| %>
      <% current_mon = @tasks.first.updated_at.strftime("%Y/%m") %>
      <% if latest_mon == nil %>
        <% latest_mon = current_mon %>
        <li><%= current_mon %></li><ul>
      <% elsif latest_mon != current_mon %>
        <% latest_mon = current_mon %>
        </ul><li><%= current_mon %></li><ul>
      <% end %>
      <li><%= task.updated_at.strftime("%d日 %2H:%2S ") %> <%= task.msg %></li>
    <% end %>
    </ul>
    </ul>
  </td></tr>
</table>
</div>


<%= will_paginate(@tasks) %>

