<%= javascript_include_tag 'donelist' %>
<div class="donenote">
<div class="row-fluid">
  <div class="span1"></div>
  <div class="span2">
  <ul class="nav nav-list well">
    <% @month_list.each do |l| %>
      <li><%= link_to "#{l[:date].strftime("%Y-%m")} (#{l[:count]})" , :year => l[:date].year ,:month => l[:date].mon  %></li>
    <% end %>
  </ul>
  </div>

  <div class="span9">
    <%= will_paginate(@tasks) %>
    <table id="done_list_table" class="table table-striped table-bordered">
    <% latest_day = nil %>
    <% @tasks.each do |task| %>
      <% current_day = task.updated_at.strftime("%Y-%m-%d") %>
      <tr>
      <% if latest_day == nil or latest_day != current_day %>
        <% latest_day = current_day %>
        <td class="done-list-day"><span class="label label-info"><%= current_day %></span></td>
        <td class="done-list-time"><span class="label"><%= task.updated_at.strftime("%2H:%2S") %></span></td>
        <td id="done_<%= task.id %>"></td>
      <% else %>
        <td></td>
        <td><span class="label"><%= task.updated_at.strftime("%2H:%2S") %></span></td>
        <td id="done_<%= task.id %>"></td>
      <% end %>
        <script>
          var msg_array = <%= to_js_array(task.msg) %>;
          $("#done_<%= task.id %>").html(task_display_filter(msg_array.join('\n')));
        </script>
      </tr>
    <% end %>
    </table>
    <%= will_paginate(@tasks) %>
  </div>
</div>
</div>


