<div data-role="page" id="todo_nav" data-theme="a">
  <%= render "header_smart_phone_iphone", {:state => 'todo'} %>

  <div data-role="content">
    <ul data-role="listview" id="todo_ul">
      <li>
        <select class="select_book" data-mini="true">
          <option value="0">All Books</option>
          <% @books.each do |b| %>
            <option value="<%= b.id %>"><%= b.name %></option>
          <% end %>
        </select>
      </li>
      <li id="todo_h" data-role="list-divider" style="padding: 0.1em 15px;">High</li>
      <% @tasks[:todo_high_tasks].each do |t| %>
        <%= render "task_smart_phone_iphone", {:t => t} %>
      <% end %>
      <li id="todo_m" data-role="list-divider" style="padding: 0.1em 15px;">Middle</li>
      <% @tasks[:todo_mid_tasks].each do |t| %>
        <%= render "task_smart_phone_iphone", {:t => t} %>
      <% end %>
      <li id="todo_l" data-role="list-divider" style="padding: 0.1em 15px;">Low</li>
      <% @tasks[:todo_low_tasks].each do |t| %>
        <%= render "task_smart_phone_iphone", {:t => t} %>
      <% end %>
      <li data-role="list-divider" style="padding: 4px;"></li>
    </ul>
  </div>

  <%= render "footer_smart_phone_iphone", {:state => 'todo'} %>
</div>

<div data-role="page" id="doing_nav" data-theme="a">
  <%= render "header_smart_phone_iphone", {:state => 'doing'} %>

  <div data-role="content">
    <ul data-role="listview">
      <li id="doing" data-role="list-divider" style="padding: 0.1em 15px;">Doing</li>
      <% @tasks[:doing_tasks].each do |t| %>
        <%= render "task_smart_phone_iphone", {:t => t} %>
      <% end %>

      <li id="waiting" data-role="list-divider" style="padding: 0.1em 15px;">Waiting</li>
      <% @tasks[:waiting_tasks].each do |t| %>
        <%= render "task_smart_phone_iphone", {:t => t} %>
      <% end %>
      <li data-role="list-divider" style="padding: 4px;"></li>
    </ul>
  </div>

  <%= render "footer_smart_phone_iphone", {:state => 'doing'} %>
</div>

<div data-role="page" id="done_nav" data-theme="a">
  <%= render "header_smart_phone_iphone", {:state => 'done'} %>

  <div data-role="content">
    <ul data-role="listview">
      <li id="done" data-role="list-divider">Done</li>
      <% @tasks[:done_tasks].each do |t| %>
        <%= render "task_smart_phone_iphone", {:t => t} %>
      <% end %>
      <li data-role="list-divider" style="padding: 4px;"></li>
    </ul>
  </div>

  <%= render "footer_smart_phone_iphone", {:state => 'done'} %>
</div>

<script>
  $('.select_book').val('<%= @current_book_id %>');
  $('.select_book').change(function(){
    location.href="tasks?book_id=" + $(this).val();
  });
</script>

<div data-role="page" id="setting" data-theme="a" class="swipe-back">
  <div data-role="header"><h1>タスクの編集</h1></div> 
  <div data-role="content"> 
    <form id="edit_form" method="post" style="display:inline">
      <textarea id="edit_msg" maxlength="200"/></textarea>
      <div data-role="controlgroup" data-type="horizontal" data-mini="true">
        <a id="update_btn" data-role="button" data-inline="true" data-rel="back">Update</a>
        <a id="cancel_edit_btn" data-role="button" data-inline="true" data-rel="back">Cancel</a>
        <a id="delete_btn" data-role="button" data-inline="true" data-rel="back">Delete</a>
      <span class="task-chars-left"></span>
      </div>
    </form>
  </div>

  <div data-role="header"><h1>状態を変更</h1></div>
  <div data-role="content">
    <div class="ui-grid-b">
      <div class="ui-block-a">
        <button id="todo_h_btn" class="status-btn" data-corners="false" data-rel="back">High</button>
      </div>
      <div class="ui-block-b">
        <button id="doing_btn" class="status-btn" data-corners="false" data-rel="back">Doing</button>
      </div>
      <div class="ui-block-c">
        <button id="done_btn" class="status-btn" data-corners="false" data-rel="back">Done</button>
      </div>
      <div class="ui-block-a">
        <button id="todo_m_btn" class="status-btn" data-corners="false" data-rel="back">Middle</button>
      </div>
      <div class="ui-block-b">
        <button id="waiting_btn" class="status-btn" data-corners="false" data-rel="back">Wait</button>
      </div>
      <div class="ui-block-a">
        <button id="todo_l_btn" class="status-btn" data-corners="false" data-rel="back">Low</button>
      </div>
    </div>
    <a id="cancel_move_btn" data-role="button" data-rel="back">Cancel</a>
  </div>
</div>
<script>
(function(){
  var taskAction = KanbanList.taskAction;
  taskAction.initial_setting();

  var current_book = {
    id : <%= @current_book_id %>,
    name : '<%= @current_book_id != 0 ? @book_name : "" %>'
  }
  var addForm = KanbanList.addForm;
  addForm.initial(current_book);
}());
</script>
