<h1 id="title_bj">ToDo List for <%= @user_name %> </h1> 

<table><tr>
<!-- フィルタ入力フォーム -->
<td>
  <form method="post" style="display:inline" onsubmit="filterTask( $('#filter_str').get(0).value );return false;">
    <input type="submit" value="フィルタ / 更新" style="font-size:12px" />
    <input type="text" id="filter_str" name="ttl" value="" size="10" style="font-weight:normal;padding:2px" onfocus="this.style.background='#ffc';"/>
  </form>
</td>

<!-- ポモドーロタイマ -->
<td>
<input type="image" src="/images/tomato.gif" onclick="$('#p_timer_body').fadeIn('slow');return false"/>
</td><td>
<div id="p_timer_body" style="display:none">
<table><tr><td>
<div id="p_timer_form" class="add_form" >
<button id="p_start" style="font-size:10px" onclick="Start()">Start</button><button id="p_pause" style="font-size:10px" onclick="Pause()">Pause</button><button id="p_clear" style="font-size:10px" onclick="Clear()">Reset</button>
<span id="p_min">25</span>:<span id="p_sec">00</span>&nbsp;
</div>
</td></tr></table>
</div>
</td>
<!-- ポモドーロタイマ -->
</tr></table>

<!-- ここから全要素を動的に更新可能なように別テンプレートとする -->
<div id="task_list">
  <%= render "tasklist", {:tasks => @tasks}%>
</div>
<!-- ここまで動的更新できる範囲 -->

<table id="table-01" >
<tr>
<th class="doing"  >D</th>
<th class="todo_h" >H</th>
<th class="todo"   >M</th>
<th class="todo_l" >L</th>
<th class="waiting">W</th>
<th class="done"   >D</th>
</tr>
<tr>
  <td><div id="doing_num"   class="counts"><%= @counts[:doing] %></div></td>
  <td><div id="todo_h_num"  class="counts"><%= @counts[:todo_h] %></div></td>
  <td><div id="todo_num"    class="counts"><%= @counts[:todo_m] %></div></td>
  <td><div id="todo_l_num"  class="counts"><%= @counts[:todo_l] %></div></td>
  <td><div id="waiting_num" class="counts"><%= @counts[:waiting] %></div></td>
  <td><div id="done_num"    class="counts"><%= @counts[:done] %></div></td>
</tr>
</table>

<div id="serverMsg"><b>ServerMsg to USER_NAME : </b>
  <div id="viewSortlist" style="display:inline;">Let's Todo!</div>
</div>

<br> 
<hr>
FOOTER_HTML
<div id="generatedby">Created by Naoki Kodama. </div> 
</body> 

</html> 
