<div class="container">
  <div class="row">
    <div class="span12"></div>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count,"error") %></h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    <%= form_for(@user, :html => { :method => :put ,:class => "form-horizontal"}) do |f| %>
      <fieldset>
        <legend>ユーザ情報編集</legend>
        <div class="control-group">
          <%= f.label :name, :class => "control-label" %>
          <div class="controls">
            <%= f.text_field :name %>
            <span class="help-inline label label-important">必須</span>
          </div>
        </div>

        <div class="control-group">
          <%= f.label :email, :class => "control-label" %>
          <div class="controls">
            <%= f.email_field :email %>
            <span class="help-inline label label-important">必須</span>
          </div>
        </div>

        <div class="control-group">
          <%= f.label :password, :class => "control-label" %>
          <div class="controls">
            <%= f.password_field :password %>
            <span class="help-inline label label-important">変更する場合は入力</span>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :password_confirmation, :class => "control-label" %>
          <div class="controls">
            <%= f.password_field :password_confirmation %>
            <span class="help-inline label label-important">変更する場合は入力</span>
          </div>
        </div>

        <div class="control-group">
          <div class="controls">
            <%= f.submit "Update", :class => "btn btn-primary" %>
          </div>
        </div>
      </fieldset>
    <% end %>
    </div>
  </div>
</div>
