<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12"></div>

    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => "form-horizontal"}) do |f| %>
  <fieldset>
    <legend>Sign in</legend>
    <div class="control-group">
      <%= f.label :email, :class => "control-label" %>
      <div class="controls">
        <%= f.email_field :email %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :password, :class => "control-label" %>
      <div class="controls">
        <%= f.password_field :password %>
      </div>
    </div>

    <div class="control-group">
      <% if devise_mapping.rememberable? -%>
        <div class="controls">
          <label class="checkbox">
            <%= f.check_box :remember_me %> <%= f.label :remember_me %>
          </label>
        </div>
      <% end -%>
    </div>

    <div class="control-group">
      <div class="controls">
        <%= f.submit "Sign in", :class => "btn btn-primary" %>
      </div>
    </div>
  </fieldset>
<% end %>

<%= render :partial => "devise/shared/links" %>

    </div>
  </div>
</div>
