<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12"></div>

    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => "form-horizontal"}) do |f| %>
      <fieldset>
        <legend>ログイン</legend>
        <div class="control-group">
          <%= f.label :email, :class => "control-label" %>
          <div class="controls">
            <%= f.email_field :email %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :password, :class => "control-label" %>
          <div class="controls">
            <%= f.password_field :password %>
          </div>
        </div>

        <div class="control-group">
          <div class="controls">
            <%= f.submit "ログイン", :class => "btn btn-primary" %>
            <button id="login_with_sample" class="btn btn-inverse">サンプルアカウントでログイン</button>
          </div>
        </div>
      </fieldset>
    <% end %>
    </div>
  </div>
</div>
<script>
$(document).ready(function() {
  $("#login_with_sample").click(function(){
    $("#user_email").val("sample@kanban.list");
    $("#user_password").val("sample");
    submit();
  });
});
</script>

