<span style="float:right">
  <span class="counts todo_h"><%= counts[:todo_h] %></span>
  <span class="counts todo"><%= counts[:todo_m] %></span>
  <span class="counts todo_l"><%= counts[:todo_l] %></span>
  <span class="counts doing"><%= counts[:doing] %></span>
  <span class="counts waiting"><%= counts[:waiting] %></span>
  <span class="counts done"><%= counts[:done] %></span>
</span>
 
