<!DOCTYPE html>
<html>
<head>
  <title>Todolist</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'jquery.min' %>
  <%= javascript_include_tag 'jquery_ujs' %>
  <%= javascript_include_tag 'jquery-ui' %>
  <%= javascript_include_tag 'jquery.alerts' %>
  <%= javascript_include_tag 'todo' %>
  <%= javascript_include_tag 'p_timer' %>
  <%= csrf_meta_tag %>

</head>
<body style="
 background-image: url( <%= @bg_img_name %> );
 background-attachment: fixed;
 background-position: center top;
 background-repeat:  repeat
"> 
<div id="title">かんばんりすと <%= " - " + current_user.name + " - " if current_user%> </div> 

<%= yield %>

<%= link_to('ログアウト', [ :destroy, :user_session ], :method => :delete ,:class => 'sign signOut') if current_user %>
<span class="notice"><%= notice %></span>
<span class="alert"><%= alert %></span>
</body>
</html>
