<!DOCTYPE html>
<html>
<head>
  <title>Todolist</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag 'jquery-ui' %>
  <%= javascript_include_tag 'todo' %>
  <%= javascript_include_tag 'p_timer' %>
  <%= csrf_meta_tag %>

</head>
<body>

<%= yield %>

</body>
</html>
