<!DOCTYPE html>
<html>
<head>
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <title>かんばんりすと</title>
  <%= stylesheet_link_tag :application %>
  <%= stylesheet_link_tag "task_default" , id: "task_theme" %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>

</head>
<body id="body_core" style="
 background-color: white;
 background-attachment: fixed;
 background-position: center top;
 background-repeat:  repeat;
 padding-top: 60px;
">
<header>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <a class="brand" href="/">かんばんりすと</a>
        <div class="nav-collapse">
          <ul class="nav pull-left">
            <% if current_user %>
              <li><%= link_to raw('<i class="icon-eye-open"></i>'), dashboard_index_path, { rel: "tooltip", title: "Go to your dashboard" } %></li>
              <li><%= link_to raw('<i class="icon-home"></i>'), tasks_path, { rel: "tooltip", title: "Go to your kanbanlist" } %></li>
            <% end %>
            <% if params[:controller] == "tasks" and params[:action] == "index" %>
              <%= render "layouts/book_list_dropdown_li" %>
              <%= render "layouts/layout_dropdown_li" %>
              <%= render "layouts/theme_dropdown_li" %>
            <% end %>
          </ul>

          <% if params[:controller] == "tasks" and params[:action] == "index" %>
          <form id="filter_form" method="post" class="navbar-search pull-left">
            <input type="text" id="filter_str" class="search-query span2" value="" placeholder="Filter"/>
          </form>

          <div class="pull-left">
            <%= render "layouts/task_count_table" %>
          </div>
          <% end %>

          <ul class="nav pull-right">
            <% if params[:controller] == "tasks" and params[:action] == "index" %>
              <%= render "layouts/trial_feature_dropdown_li" %>
            <% end %>

            <% if current_user %>
              <li><%= link_to('Logout', [ :destroy, :user_session ], :class => '') %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>

<%= render "layouts/new_book_dialog" %>
<%= render "layouts/remove_book_dialog" %>
<%= render "layouts/send_mail_dialog" %>
<%= render "layouts/set_bg_image_dialog" %>
<%= render "layouts/delete_task_dialog" %>

<%= yield %>

  <footer>
    <span>
    © 2011 Naoki KODAMA. All rights reserved.
    </span>
  </footer>
</body>
</html>
