<!DOCTYPE html>
<html>
<head>
  <meta name="apple-mobile-web-app-capable" content="yes"/>  
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <title>かんばんりすと</title>
  <%= stylesheet_link_tag :application %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>

</head>
<body style="
 background-color: white;
 background-attachment: fixed;
 background-position: center top;
 background-repeat:  repeat;
 padding-top: 60px;
"> 
<header>
  <div class="navbar navbar-fixed-top">                                             
    <div class="navbar-inner">                                                      
      <div class="container-fluid">                                                 
        <a class="brand" href="/">かんばんりすと</a> 
        <div class="nav-collapse">
          <ul class="nav pull-left">
            <% if current_user %>
              <li><%= link_to "Home", tasks_path %></li>
              <li><%= link_to "DoneList", tasks_donelist_path %></li>
            <% end %>

            <% if params[:controller] == "tasks" and params[:action] == "index" %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Books
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><a id="new_book" href="#">New Book</a></li>
                  <li class="divider"></li>
                  <li><a href="#" onclick="selectBook(0);">All Tasks</a></li>
                  <% @books_list.each do |book| %>
                    <li><a href="#" onclick="selectBook(<%= book.id %>);"><%= book.name %></a></li>
                  <% end %>
                </ul>
              </li>
            <% end %>
          </ul>

          <% if params[:controller] == "tasks" and params[:action] == "index" %>
          <form method="post" class="navbar-search pull-left" onsubmit="filterTask( $('#filter_str').get(0).value );return false;">
            <input type="text" id="filter_str" class="search-query" name="ttl" value="" placeholder="Filter"/>
          </form>
          <div class="pull-left">
            <p>
            <table id="table-01" >
            <tr>
              <td><div id="todo_h_num"  class="counts todo_h"><%= @counts[:todo_h] %></div></td>
              <td><div id="todo_num"    class="counts todo"><%= @counts[:todo_m] %></div></td>
              <td><div id="todo_l_num"  class="counts todo_l"><%= @counts[:todo_l] %></div></td>
              <td><div id="doing_num"   class="counts doing"><%= @counts[:doing] %></div></td>
              <td><div id="waiting_num" class="counts waiting"><%= @counts[:waiting] %></div></td>
              <td><div id="done_num"    class="counts done"><%= @counts[:done] %></div></td>
            </tr>
            </table>
            </p>
          </div>
          <% end %>

          <ul class="nav pull-right">
            <li><%= link_to('ログアウト', [ :destroy, :user_session ], :method => :delete ,:class => '') if current_user %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="modal hide fade" id="book_in">
  <div class="modal-header">
    <h3>New Book</h3>
  </div>
  <div class="modal-body">
    <p>Please type new book name.</p>
    <form id="book_form">
      <input type="text" id="book_name" class="span2" placeholder="Book Name"/>
    </form>
  </div>
  <div class="modal-footer">
    <button id="new_book_button" class="btn btn-primary">New</button>
  </div>
</div>

<%= yield %>

 <footer>
    <span>
    © 2011 Naoki KODAMA. All rights reserved.
    </span>
  </footer>
</body>
</html>
