<!DOCTYPE html>
<html>
<head>
  <meta name="apple-mobile-web-app-capable" content="yes"/>  
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no">

  <title>かんばんりすと</title>
  <%= stylesheet_link_tag :application %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>

</head>
<body style="
 background-color: white;
 background-attachment: fixed;
 background-position: center top;
 background-repeat:  repeat;
 padding-top: 46px;
"> 
<header>
  <div class="navbar navbar-fixed-top">                                             
    <div class="navbar-inner">                                                      
      <div class="container-fluid">                                                 
        <a class="brand" href="/">かんばんりすと</a> 
        <div class="nav-collapse">
          <ul class="nav pull-left">
            <li><%= link_to "Home", tasks_path if current_user %></li>
            <li><%= link_to "DoneList", tasks_donelist_path if current_user %></li>
          </ul>
          <% if current_user %>
          <form method="post" class="navbar-search pull-left" onsubmit="filterTask( $('#filter_str').get(0).value );return false;">
            <input type="text" id="filter_str" class="search-query" name="ttl" value="" placeholder="Filter"/>
          </form>
          <% end %>
<!-- ポモドーロタイマ。TODO:レイアウトうまくいかないので一旦コメントアウト -->
<!--
<form class="form-inline pull-left">
<div id="p_timer_form">
<button id="p_start" class="btn" onclick="Start()">Start</button>
<button id="p_pause" class="btn" onclick="Pause()">Pause</button>
<button id="p_clear" class="btn" onclick="Clear()">Reset</button>
<span id="p_min">25</span>:<span id="p_sec">00</span>&nbsp;
</div>
</form>
-->
          <ul class="nav pull-right">
            <li><%= link_to('ログアウト', [ :destroy, :user_session ], :method => :delete ,:class => '') if current_user %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>

<%= yield %>

 <footer>
    <span>
    © 2011 Naoki KODAMA. All rights reserved.
    </span>
  </footer>
</body>
</html>
