<!DOCTYPE html>
<html>
<head>
  <meta name="apple-mobile-web-app-capable" content="yes"/>  
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no">

  <title>Todolist</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'jquery.min' %>
  <%= javascript_include_tag 'jquery_ujs' %>
  <%= javascript_include_tag 'jquery-ui' %>
  <%= javascript_include_tag 'jquery.alerts' %>
  <%= javascript_include_tag 'todo' %>
  <%= javascript_include_tag 'p_timer' %>
  <%= csrf_meta_tag %>

</head>
<body style="
 background-color: white;
 background-attachment: fixed;
 background-position: center top;
 background-repeat:  repeat
"> 
<header>
<%= image_tag "title.png" %>
<%= " for " + current_user.name  if current_user%> 
</header>

<%= yield %>

<%= link_to('ログアウト', [ :destroy, :user_session ], :method => :delete ,:class => 'sign signOut') if current_user %>
<span class="notice"><%= notice %></span>
<span class="alert"><%= alert %></span>
</body>
</html>
